#!/bin/bash

export LSCOLORS=gxBxhxDxfxhxhxhxhxcxcx
alias ping='ping -c 5'
alias fastping='ping -c 100 -s.2'
alias ports='netstat -tulanp'


# Pipe anything into `clip` to forward it to Clipper
alias clip="nc localhost 8377"
alias sshc="ssh -R localhost:8377:localhost:8377"

alias vagrantssh="vagrant ssh -- -R localhost:8377:localhost:8377"

alias apt-get="sudo apt-get"

alias root='sudo -i'
alias su='sudo -i'

alias meminfo='free -m -l -t'
alias psmem='ps auxf | sort -nr -k 4'
alias psmem10='ps auxf | sort -nr -k 4 | head -10'
alias pscpu='ps auxf | sort -nr -k 3'
alias pscpu10='ps auxf | sort -nr -k 3 | head -10'

alias gw='./gradlew'


alias fuck='eval $(thefuck $(fc -ln -1 | tail -n 1)); fc -R'
alias s3="aws s3"
alias s3-ls="aws s3 ls --summarize  --human-readable"
alias s3-cp="aws s3 cp"
alias s3-cp-dir="aws s3 cp --recursive"

s3-cat() {
 s3 cp $1 -
}



pipe-idea(){
    tmpfile=$(mktemp /tmp/abc-script.XXXXXX)
    less <&0 >$tmpfile
    idea $tmpfile%
}

s3-idea() {
 s3-cat $1  | pipe-idea
}




function cdd {
   cd $PROJECT_HOME
   [ ! -z "$1" ] && cd $1
 }

function randpass {
	passlength=6
	[ ! -z "$1" ] && passlength=$1
	printf "%s\n" `< /dev/urandom tr -dc A-Za-z0-9 | head -c$passlength`
}



function showlog  {
     less +G $(ls -ctr1 $1/* | tail -1)
 }


function switchknife {
    if [ ! -f ~/.chef/knife-$1.rb ]; then
        echo "No such environment $1"
    else
        ln -sf knife-$1.rb ~/.chef/knife.rb
    fi
}

realpath() {
    [[ $1 = /* ]] && echo "$1" || echo "$PWD/${1#./}"
}


st () {
	 add-zsh-hook  -D preexec _terminal-set-titles-with-command
	 add-zsh-hook  -D precmd  _terminal-set-titles-with-path
    set-window-title $1
    set-tab-title $1
}


 # ------------------------------------
 # Docker alias and function
 # ------------------------------------

 # Get latest container ID
 alias dl="docker ps -l -q"

 # Get container process
 alias dps="docker ps"

 # Get process included stop container
 alias dpa="docker ps -a"

 # Get images
 alias di="docker images"

 # Get container IP
 alias dip="docker inspect --format '{{ .NetworkSettings.IPAddress }}'"

 # Run deamonized container, e.g., $dkd base /bin/echo hello
 alias dkd="docker run -d -P"

 # Run interactive container, e.g., $dki base /bin/bash
 alias dki="docker run -i -t -P"

 # Execute interactive container, e.g., $dex base /bin/bash
 alias dex="docker exec -i -t"

 # Stop all containers
 dstop() { docker stop $(docker ps -a -q); }

 # Remove all containers
 drm() { docker rm $(docker ps -a -q); }

 # Stop and Remove all containers
 alias drmf='docker stop $(docker ps -a -q) && docker rm $(docker ps -a -q)'

 # Remove all images
 dri() { docker rmi $(docker images -q); }

 # Dockerfile build, e.g., $dbu tcnksm/test 
 dbu() { docker build -t=$1 .; }

 # Show all alias related docker
 dalias() { alias | grep 'docker' | sed "s/^\([^=]*\)=\(.*\)/\1 => \2/"| sed "s/['|\']//g" | sort; }
 


function set-venv-name {
  # Check if this is a Git repo
  local GIT_REPO_ROOT=""
  local GIT_TOPLEVEL="$(git rev-parse --show-toplevel 2> /dev/null)"
  if [[ $? == 0 ]]; then
    GIT_REPO_ROOT="$GIT_TOPLEVEL"
  fi
  # Get absolute path, resolving symlinks
  local PROJECT_ROOT="${PWD:A}"
  while [[ "$PROJECT_ROOT" != "/" && ! -e "$PROJECT_ROOT/.venv" \
            && ! -d "$PROJECT_ROOT/.git"  && "$PROJECT_ROOT" != "$GIT_REPO_ROOT" ]]; do
    PROJECT_ROOT="${PROJECT_ROOT:h}"
  done
  if [[ "$PROJECT_ROOT" == "/" ]]; then
    PROJECT_ROOT="."
  fi
  local PROJECT_NAME=$(basename $PROJECT_ROOT)
  echo $PROJECT_NAME > venv/name

}
